div {
    background-color: aquamarine;
}

#home-svg-wrapper,#home-svg-body {
 stroke-dasharray:1400 ;


 animation: draw 3s ease-in-out;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

@keyframes draw{
    to{
        stroke-dasharray: 0;
        stroke:rgb(221, 243, 23);
    }
}


#loading{
 stroke-dasharray:670 ;
 stroke-dashoffset: 670;

 fill:red;

 
 animation: draw 3s ease-in-out;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

/* @keyframes draw{
    to{
        stroke-dashoffset: 0;
        stroke-dasharray: 0;
        fill:rgb(221, 243, 23);
    }
} */
